{% extends 'base.html' %}


{% block title %}Создание записи{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-3">{{ company.company_name }}</h1>
    <p>Руководитель: {{ company.fio }}</p>
    <p>Запись создана: {{ company.published }}</p>
    <p>{{ company.description|safe }}</p>
    <p>Редактировано: {{ company.edited }}</p>
    <p>Контактные данные: </p>
    {% for phone in company.phone_set.all %}
        <p>{{ phone.phone }}</p>
    {% endfor %}

    {% for email in company.email_set.all %}
        <p>{{ email.email }}</p>
    {% endfor %}

    <p><a href="{% url 'company-update' company.slug %}">Редактировать</a></p>
    <p><a href="{% url 'company-projects-list' company.slug %}">Проекты</a></p>
    <a href="{% url 'company-delete' company.slug %}" class="btn btn-danger" role="button">Удалить компанию</a>
</div>
{% endblock %}