{% extends 'base.html' %}

{% block title %}
Список взаимодействий
{% endblock %}

{% block content %}
 {% if filter %}
    <form method="GET" action="">
        {{ filter.form }}
        <button type="submit">Фильтровать</button>
        <a href="{% url 'project-interaction-list' pk %}">Сброс</a>
    </form>
    {% endif %}

{% if object_list.exists %}
<h1 class="display-5 text-center mt-3">Взаимодействия проекта</h1>
{% for interaction in filter.qs %}
    <div class="container m-1 border border-dark">

    <p>Взаимодействие по проекту: {{ interaction.project.title }}</p>
    <p><a class="h3 text-decoration-none" href="{% url 'interaction-detail' interaction.pk %}">
        {{ interaction.description|safe|truncatechars:60 }}</a></p>
    <p>Менеджер: {{ interaction.manager }}</p>
    <p>Создано: {{ interaction.created_at }}</p>
    <p>Последнее изменение: {{ interaction.updated_at }}</p>

</div>
{% endfor %}
{% else %}
<p class="mt-5 font-weight-bold text-center text-muted display-4">Записи отсутствуют.</p>
{% endif %}
<p><a class="btn btn-info" role="button" href="{% url 'interaction-create' pk %}">Добавить</a></p>
{% endblock %}

