{% extends 'base.html' %}

{% block title %}Проект {{ project.title }} {% endblock %}

{% block content %}


<div class="container-sm">
    <p class="h3">Проект: {{ project.title }}</p>
    <p>{{ project.description|safe }}</p>
    <p>Project started at: {{ project.started_at }}</p>
    <p>Project finished at: {{ project.finished_at }}</p>
    <p>Project cost: {{ project.cost }}$</p>
</div>

<p><a href="{% url 'project-update' project.pk %}" class="btn btn-info" role="button">Редактировать</a></p>
<p><a href="{% url 'project-interaction-list' project.pk %}" class="btn btn-info" role="button">Список
    взаимодействий</a></p>

{% endblock %}